header{
  background-image: url(../Assets/concert-photo.jpg);
  background-repeat: no-repeat;
  background-position: -1rem -30rem;
  background-size: 194rem 78rem;
}
nav{
  height: 30rem;
  max-width: 115rem;
  margin: 0 auto;
}
nav ul{
  display: none;
  float: right;
  margin-top: 3rem;
  li{
    display: inline-block;
    padding-left: 2rem;
    a{
      text-decoration: none;
      color: $white;
      font-size: 2rem;
    }
  }
}
.logo{
  display: inline-block;
  font-weight: bold;
  color: $white;
  margin-right: auto;
  margin-left: 226px;
  width: 57rem;
  display: inline-block;
  font-size: 4rem;
  img{
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
